@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
body {
  background-color: #191919;
  color: rgb(251, 224, 224);
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

table {
  border-collapse: collapse;
  /* width: 100%; */
}

td {
  /* border: 1px solid #fff; */
  /* padding: 10px; */
  text-align: center;
  width: 40px;
  height: 40px;
}

td:hover {
  background-color: rgb(234, 89, 89);
  cursor: pointer;
  transition: 0.3s;
}
